@charset "UTF-8";
/**
 * 
 * @authors wiza Li(wiza.li@gmail.com)
 * @date    2013-10-12 15:03:27
 * @version $Id$
 */
.w_datepicker_ul{margin:0 auto;padding:0;list-style:none;display:block;width:75px}
.w_picker_li{height:20px;line-height:20px;cursor:pointer;padding-left:5px;border:1px dotted white}
.w_li_hover{border:1px dotted #98c0f4;background:#ddecfe}
.w_subdiv{border:0;overflow: hidden;}
.w_subdiv,.w_datePicker_div{font:normal 12px tahoma,arial,helvetica,sans-serif;font-size:12px}
.w_datePicker_div{box-shadow:1px 2px 3px #ddecfe inset;z-index:99999;border:1px solid #98c0f4;background-color:white;position:absolute;color:#666}
.w_div_content{float:left;height:220px;overflow-x:hidden;overflow-y:scroll}
.w_datePicker_div_sub{float:left;position:relative;margin-right:1px;height:21px;line-height:21px;border:1px solid #acadaf;cursor:pointer;background:url(./imgs/p.png) no-repeat top 3px right -22px}
.w_subdiv input,.w_datePicker_div_sub{box-shadow:#f6f8f9 2px 3px 3px 0 inset;color:#666}
.w_subdiv input{overflow:hidden;height:19px;padding-left:1px;line-height:19px;border:0;cursor:auto;outline-width:0;zoom:1}
.w_picker_li_span{height:20px;line-height:20px;width:30px;float:right;background:#ddecfe url(./imgs/p.png) no-repeat -25px}
.w_picker_li_span_view{display:inline-block}
.w_picker_li_span_hide{display:none}